
// 计算多少小时前  多少天前
var articleDate = function(updateDate){
  var diffDate = (getDate().getTime() - getDate(updateDate).getTime())/1000/60/60
  if(diffDate.toFixed(0) < 24){
    return diffDate.toFixed(0) + "小时前"
  }else {
    return (diffDate/24).toFixed(0) + "天前"
  }
}

// 切割时间 '2020-01-02 12:23:30' 切成 '2020-01-02'
var splitDate = function(date){
  if (date) {
    return date.split(' ', 1)
  }
}

// 阿拉伯数字转数字大写
var Arabia_To_SimplifiedChinese = function(num){
  var tmpnewchar = '一'
  switch (num) {
    case 1: tmpnewchar = "一"; break;
    case 2: tmpnewchar = "二"; break;
    case 3: tmpnewchar = "三"; break;
    case 4: tmpnewchar = "四"; break;
    case 5: tmpnewchar = "五"; break;
    case 6: tmpnewchar = "六"; break;
    case 7: tmpnewchar = "七"; break;
    case 8: tmpnewchar = "八"; break;
    case 9: tmpnewchar = "九"; break;
  }
  return tmpnewchar
}

// 月份补0操作
var perfectMonth = function(yearmonth){
  var month = yearmonth.split('-')[1]
  return month < 10 ? '0'+month : month
}

// 格式化时间兼容ios
var formdataForIOS = function(date){
  return date.replace('-',"/").replace('-',"/")
}

module.exports = {
  articleDate: articleDate,
  splitDate: splitDate,
  Arabia_To_SimplifiedChinese: Arabia_To_SimplifiedChinese,
  perfectMonth: perfectMonth,
  formdataForIOS: formdataForIOS
}